body {
    
    animation-name: example;
    animation-iteration-count: infinite;
    animation-duration: 0.5s;
  
}
  
  @keyframes example {
    
    0%  {background-color: red;}
    25%  {background-color: orange}
    50% {background-color: yellow;}
    75%  {background-color: green;}   
    100% {background-color: blue;}
      
}
 
.div1 {
    
    display: inline-block;
    width: 200px;
    height: 200px;
    text-decoration: wavy;
    letter-spacing: 2px;
    font-size: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    animation-name: example2;
    animation-iteration-count: infinite;
    animation-duration: 0.1s;
    position: relative;

}  

@keyframes example2 {
    100%  {background-color: red;left:600px; top:200px;rotate: (180deg);}
    75%  {background-color: orange;left:1000px; top:400px;}
    50% {background-color: yellow;left:800px; top:600px;rotate: (90deg);}
    25%  {background-color: green;left:200px; top:200px;}   
    0% {background-color: blue;left:0px; top:0px;}

}

.div2 {

    display: inline-block;
    width: 200px;
    height: 200px;
    letter-spacing: 2px;
    font-size: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    animation-name: example2;
    animation-iteration-count: infinite;
    animation-duration: 4s;
    position: relative;
    border-radius: 5px;

}

@keyframes example3 {
    100%  {background-color: red;left:600px; top:200px;}
    75%  {background-color: orange;left:100px; top:1000px;}
    50% {background-color: yellow;left:700px; top:400px;}
    25%  {background-color: green;left:200px; top:800px;}   
    0% {background-color: blue;left:800px; top:0px;}
    
}

/*improve design next time/*
